# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

*.rar
*.d
*.crf
*.htm
*.dep
*.map
*.bak
*.axf
*.lnp
*.lst
*.ini
*.tsc
*.launch
*.cogui
*.comarker
*.comemgui
*.coproj
*.pbxproj
*.history
Debug/
logs/
.settings/
MBPool/
Related/
STM32CubeIDE/
.mxproject
.project
Converter.ioc
mx.scratch



